<div class="card-intro">
    <img src="assets/images/sit.png" alt="">
    <h3>
        Selamat Datang di Aplikasi CIAM<br />
        Kemeterian ATR/BPN
    </h3>
    <p>Egestas in congue habitasse ac sem vel. Placerat gravida facilisis lobortis vitae. Diam placerat nulla aliquam gravida volutpat laoreet luctus mattis eleifend. Diam et donec tortor integer feugiat arcu.</p>
</div>